# Requirements for BookScraper Pro
# Latest stable version: https://github.com/Vijaysimhaa/Book-Price-Scraper-with-Real-Time-Currency-Conversion/releases/tag/Scraper

requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3
concurrent-log-handler==0.9.24
python-dateutil==2.8.2